@{
    ViewBag.Title = "Find Prices";
}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default panel-body">
            <label>List of Supplier</label>
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">No</th>
                        <th class="col-md-2">Supplier</th>
                        <th class="col-md-2">Item</th>
                        <th class="col-md-2">Unit Price</th>
                        <th class="col-md-3">Description</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>PT Sumber Untung</td>
                        <td>Kertas A5</td>
                        <td>Rp 1.000,00</td>
                        <td>Beli 5 bonus 1</td>
                        <td><a href="#"><button class="btn btn-info col-md-5">Edit</button></a><span class="pull-right col-md-7"><a href="#"><button class="btn btn-danger col-md-12">Delete</button></a></span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>PT Sumber Untung 2</td>
                        <td>Kertas A5</td>
                        <td>Rp 1.000,00</td>
                        <td>Beli 5 bonus 1</td>
                        <td><a href="#"><button class="btn btn-info col-md-5">Edit</button></a><span class="pull-right col-md-7"><a href="#"><button class="btn btn-danger col-md-12">Delete</button></a></span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>PT Sumber Untung 3</td>
                        <td>Kertas A5</td>
                        <td>Rp 1.000,00</td>
                        <td>Beli 5 bonus 1</td>
                        <td><a href="#"><button class="btn btn-info col-md-5">Edit</button></a><span class="pull-right col-md-7"><a href="#"><button class="btn btn-danger col-md-12">Delete</button></a></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-horizontal col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">Supplier : </label>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option>PT Sumber Rezeki</option>
                            <option>PT Sumber Rezeki 1</option>
                            <option>PT Sumber Rezeki 2</option>
                        </select>
                    </div>
                        <label class="col-md-1 control-label"><a href="#"><label>&nbsp<span class="fa fa-plus"></span></label></a></label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <textarea class="form-control col-md-5" cols="1" rows="4" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Item : </label>
                    <div class="col-md-9">
                        <select class="form-control">
                            <option>Kertas A5</option>
                            <option>Kertas A5 1</option>
                            <option>Kertas A5 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Unit Price : </label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">Rp</span>
                            <input type="text" class="form-control">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div class="form-group id="data_1">
                    <label class="col-md-3 control-label">Expected Date : </label>
                    <div class="col-md-9">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2017">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Description : </label>
                    <div class="col-md-9">
                        <textarea class="form-control col-md-5" cols="1" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("select").select2();
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });
</script>