@{
    ViewBag.Title = "Find Prices";
}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default panel-body">
            <label>List of Supplier</label>
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">No</th>
                        <th class="col-md-2">Supplier</th>
                        <th class="col-md-2">Item</th>
                        <th class="col-md-2">Unit Price</th>
                        <th class="col-md-1">Exp Date</th>
                        <th class="col-md-2">Description</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>PT Sumber Untung</td>
                        <td>Kertas A5</td>
                        <td>Rp 1.000,00</td>
                        <td>21 May 2017</td>
                        <td>Beli 5 bonus 1</td>
                        <td><button class="btn btn-info col-md-5" onclick='clickcth1()'>Edit</button><span class="pull-right col-md-7"><button class="btn btn-danger col-md-12">Delete</button></span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>PT Sumber Untung 2</td>
                        <td>Kertas A5</td>
                        <td>Rp 1.000,00</td>
                        <td>21 May 2017</td>
                        <td>Beli 5 bonus 1</td>
                        <td><a href="#"><button class="btn btn-info col-md-5">Edit</button></a><span class="pull-right col-md-7"><button class="btn btn-danger col-md-12">Delete</button></span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>PT Sumber Untung 3</td>
                        <td>Kertas A5</td>
                        <td>Rp 1.000,00</td>
                        <td>21 May 2017</td>
                        <td>Beli 5 bonus 1</td>
                        <td><a href="#"><button class="btn btn-info col-md-5">Edit</button></a><span class="pull-right col-md-7"><button class="btn btn-danger col-md-12">Delete</button></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-horizontal col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Supplier : </label>
                    <div class="col-md-7 pull-left">
                        <select id="cbsupplier" class="form-control">
                            <option>PT Sumber Rezeki</option>
                            <option>PT Sumber Rezeki 1</option>
                            <option>PT Sumber Rezeki 2</option>
                            <option>PT Sumber Untung</option>
                            <option>PT Sumber Untung 2</option>
                            <option>PT Sumber Untung 3</option>
                        </select>
                    </div>
                    <button type="button" class="col-md-2 btn btn-dropbox pull-right">Tambah</button>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <textarea id="txtalamat" class="form-control col-md-5" cols="1" rows="4" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Item : </label>
                    <div class="col-md-9">
                        <select id="cbitem" class="form-control">
                            <option>Kertas A5</option>
                            <option>Kertas A5 1</option>
                            <option>Kertas A5 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Unit Price : </label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">Rp</span>
                            <input id="txtprice" type="text" class="form-control">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div class="form-group id="data_1">
                    <label class="col-md-3 control-label">Expected Date : </label>
                    <div class="col-md-9">
                        <div class="input-group date form_datetime" id='datetimepicker-date-tanggal' data-link-field="dateinput">
                            @{ 
                                string dateNow = DateTime.Now.ToString("yyyy-MM-dd");
                            }
                            <input id="txttanggal" type='text' class="form-control" value="@dateNow" readonly>
                            <span class="input-group-addon custom-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" name="dateinput" id="dateinput" value="@dateNow">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Description : </label>
                    <div class="col-md-9">
                        <textarea id="txtdesc" class="form-control col-md-5" cols="1" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <span id="spanNew" class="pull-right col-md-3" onclick="reset()" hidden><a href="#"><button id="btnNew" class="btn btn-success col-md-12">New</button></a></span>
                    <span id="spanAdd" class="pull-right col-md-3" onclick="klikadd()"><a href="#"><button id="btnAdd" class="btn btn-success col-md-12">Add</button></a></span>
                    <span id="spanUpdate" class="pull-right col-md-3""><a href="#"><button id="btnUpdate" class="btn btn-success col-md-12" disabled>Update</button></a></span>
                </div>
            </div>
            <span id="spanSave" class="pull-right col-md-3"><a href="#"><button id="btnSave" class="btn btn-lg btn-primary col-md-12">Save</button></a></span>
        </div>
    </div>
</div>

<script>
    function clickcth1() {
        $("#cbsupplier").val("Sumber Untung");
        $("#txtalamat").val("Alamat Sumber Untung");
        $("#cbitem").val("Kertas A5");
        $("#txtprice").val("1000");
        $("#txttanggal").val("21 May 2017");
        $("#txtdesc").val("Beli 5 bonus 1");
        $("#spanNew").show();
        $("#spanAdd").hide();
        $("#btnUpdate").prop("disabled",false);
    }

    function reset() {
        $("#cbsupplier").val("");
        $("#txtalamat").val("");
        $("#cbitem").val("");
        $("#txtprice").val("");
        $("#txttanggal").val(@dateNow);
        $("#txtdesc").val("");
        $("#spanNew").hide();
        $("#spanAdd").show();
        $("#btnUpdate").prop("disabled", true);
    }

    function klikadd() {
        reset();
    }

    $(document).ready(function () {
        $("select").select2();
        $('#datetimepicker-date-tanggal').datetimepicker({
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'dd MM yyyy',
            pickerPosition: "bottom-left"
        });
        var curdate = '@dateNow';
        $('#datetimepicker-date-tanggal').datetimepicker('setStartDate', curdate);
        $('#txtprice').number(true, 0, ',', '.');

        $("#btnSave").click(function () {
            swal({
                title: "Are you sure to save it?",
                text: "You still can edit it later",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "success",
                confirmButtonText: "Yes, Save It!",
                closeOnConfirm: false
            }, function () {
                swal("Saved!", "Your data has been saved.", "success");
            });

        });
    });
</script>