@{
    ViewBag.Title = "Flow";
}
    <div class="row animated fadeInRight">
        <div class="box box-default col-lg-12">
            <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Request For Quotation</h2>
                        <p>
                            ...
                        </p>
                        <a href="RFQ" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Cari Harga</h2>
                        <p>...</p>
                        <a href="#" class="btn btn-sm btn-success">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Penawaran</h2>
                        <p>...</p>
                        <a href="Penawaran" class="btn btn-sm btn-info">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                        <i class="fa fa-sticky-note-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Sales Order</h2>
                        <p>...</p>
                        <a href="SalesOrder" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Purchase Order</h2>
                        <p>...</p>
                        <a href="PurchaseOrder" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-hand-paper-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Penerimaan Barang</h2>
                        <p>...</p>
                        <a href="Penerimaan" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                        <i class="fa fa-print"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Purchase Invoice</h2>
                        <p>...</p>
                        <a href="PurchaseInvoice" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Pembayaran (Purchasing)</h2>
                        <p>...</p>
                        <a href="PembayaranPurchasing" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-send-o"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Surat Jalan</h2>
                        <p>...</p>
                        <a href="#" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Sales Invoice</h2>
                        <p>...</p>
                        <a href="SalesInvoice" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Pembayaran (Sales)</h2>
                        <p>...</p>
                        <a href="PembayaranSales" class="btn btn-sm btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>