@using AdminLTE1.Controllers
<aside class="main-sidebar" >
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Dashboard</span></a>
            </li>
            <!--li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Flow" ? "active" : "")">
                <a href="@Url.Action("Index", "Flow")"><i class="fa fa-link"></i> <span>Flow Diagram</span></a>
            </li-->
        </ul>
        @* END Menu *@
    </section>
</aside>