@{
    ViewBag.Title = "Master Category";
    //ViewBag.Description = "List Page";
}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default panel-body">
            <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                            <h4 class="modal-title"></h4>
                            <small class="font-bold"></small>
                        </div>
                        @using (Html.BeginForm("save_category", "Master", FormMethod.Post))
                        {
                            <input name="catId" type="hidden" class="form-control" id="catId" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Category Name : </label>
                                    <input name="catName" type="text" class="form-control" id="catName" required/>
                                </div>
                                <div class="form-group">
                                    <label>Category Description : </label>
                                    <textarea name="catDesc" class="form-control" id="catDesc"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            NO
                        </th>
                        <th class="col-md-1 hidden">
                            ID
                        </th>
                        <th class="col-md-4">
                            NAME
                        </th>
                        <th class="col-md-5">
                            DESCRIPTION
                        </th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        using (var db = new dbsmsEntities())
                        {
                            List<item_category> Model = (from ik in db.item_category
                                                         where ik.status == 1
                                                         select ik).ToList();

                            int i = 0;
                            foreach (item_category item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td class="hidden">
                                        @item.id
                                    </td>
                                    <td>
                                        @item.name
                                    </td>
                                    <td>
                                        @item.description
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-success btn_edit" style="margin-right:10px;" data-toggle="modal" data-target="#myModal">Edit</button>
                                        <button class="btn btn-danger btn_delete">Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <button class="btn btn-primary pull-right" id="btn_add" data-toggle="modal" data-target="#myModal">Add New Item Category</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        @if (!String.IsNullOrEmpty(ViewBag.success))
        {
                <text>swal("Success!", "@ViewBag.success", "success");</text>
        }
        $(".btn_delete").click(function () {
            var obj = $(this).parent().parent().children().eq(1).html().trim();
            swal({
                title: "Are you sure to delete it?",
                text: "You can't edit it later",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "danger",
                confirmButtonText: "Yes, Delete It!",
                closeOnConfirm: false
            }, function () {
                @{ string temp = Path.GetDirectoryName(HttpContext.Current.Request.Url.OriginalString);}
                var temp = '@temp';
                temp = temp.replace('\\', '/');
                temp = temp.replace(':/', '://');
                window.location = '/Master/delete_category?catId=' + obj;
            });

        });
        $('.btn_edit').click(function () {
            $('#myModal h4').html('Edit Item Category');
            var obj = $(this).parent().parent();
            $('#myModal #catId').val(obj.children().eq(1).html().trim());
            $('#myModal #catName').val(obj.children().eq(2).html().trim());
            $('#myModal #catDesc').val(obj.children().eq(3).html().trim());
        });
        $('#btn_add').click(function () {
            $('#myModal h4').html('Add Item Category');
            $('#myModal #catId').val("");
            $('#myModal #catName').val("");
            $('#myModal #catDesc').val("");
        });

        $("table").DataTable();
    });
</script>
